.pageContainer{
    padding: 3%;
}

.breadcrumbsContainer{
    margin-bottom: 1.5%;
    background-color: aliceblue;
    padding: 1% 2%;
}

.breadcrumbsContainer p{
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2.2px;
    color: blueviolet;
}

.breadcrumbsContainer span{
    padding-right: 1.5%;
}

.breadcrumbsLink:hover{
    color: darkmagenta;
    text-decoration: underline;
}

.pageContainer h1{
    margin-bottom: 2%;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorSuccess{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-top: 1%;
}

.successMessage{
    color: green;
    font-weight: 800;
    font-size: 1.25rem;
}

.errorMessage{
    color: red;
    font-weight: 800;
    font-size: 1.25rem;
}