.breadcrumbsContainer{
    margin: 1% 1.5%;
    background-color: lightgreen;
    padding: 1%;
}

.breadcrumbsContainer p{
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: blueviolet;
}

.breadcrumbsContainer span{
    padding-right: 0.75%;
}

.breadcrumbsLink:hover{
    color: darkmagenta;
    text-decoration: underline;
}

.myBooking{
    margin: 2%;
}

.myBooking h2{
    text-align: center;
}

.categoryBooking{
    margin: 2% 3%;;
}

.categoryBooking h4{
    margin-bottom: 1%;
}

.categoryBooking ol{
    margin-left: 3%;
}

.categoryBooking li{
    list-style:lower-roman;
    padding: 0.5%;
}

.categoryBooking li:hover{
    cursor: pointer;
    color: goldenrod;
}

.loadingBookingDetails{
    background-color: rgb(235, 98, 121);
    padding: 3% 1%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingBookingDetails p{
    color: rgb(204, 203, 216);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.emptyBooking{
    background-color: lightblue; 
    padding: 3% 1%;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyBooking p{
    color: rgba(192, 46, 46, 0.795);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.paginationContainer{
    margin-top: 3rem;
    text-align: center;
}

.paginationContainer span{
    margin: 0px 10px;
}

