.multipleDateNonContinuousBookContainer{
    margin: 4% 0%;
    border: 1px solid green;
    padding: 2% 1%;
}

.dateNumberContainer{
    display: flex;
    flex-direction: row;
}

.dateNumberQues{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.05rem;
    margin-top: 2.5%;
    margin-bottom: 0.6%;
}

.dateNumberAns{
    padding: 0.5%;
    margin-top: 0.5%;
    margin-left: 4%;
    border: none;
    background-color: lightpink;
}

.proceedBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.buttonContainer{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorMessage{
    color: orangered;
    padding: 0.2%;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.roomAvailableMessage{
    color: green;
    padding: 0.2%;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.successfullyCartAdded{
    display: flex;
    margin: 1%;
    align-items: center;
    justify-content: center;
}

.successfullyCartAdded p{
    color: green;
    font-weight: 600;
    padding: 1%;
    background-color: whitesmoke;
}

.loginContainer{
    margin-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}