.diningRoomsEventContainer{
    margin: 2%;
}

.breadcrumbsContainer{
    margin: 1.5% 2.5%;
    background-color: lightgreen;
    padding: 1%;
}

.breadcrumbsContainer p{
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 0.75px;
    word-spacing: 1.25px;
    color: blueviolet;
}

.breadcrumbsContainer span{
    padding-right: 0.8%;
}

.breadcrumbsLink:hover{
    color: darkmagenta;
    text-decoration: underline;
}

.emptyCart{
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
}

.emptyCart p{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1.25%;
}

.addCartBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.loadingCart{
    width: 100%;
    margin: 2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 219, 224, 0.5);
    min-height: 250px;
}

.loadingCart p{
    color: rgb(4, 4, 116);
    font-weight: 600;
    font-size: 1.3rem;
}